## Iterations

Iterations are used to execute a block of code repeatedly. Python provides **FOR LOOPS** and **WHILE LOOPS** to 
perform iterations.   
In this lesson we will talk about **FOR LOOP** and we will touch briefly **WHILE LOOPS**.

**IMPORTANT!!!**

When should we use the **FOR LOOP**, and when the **WHILE LOOP**?
The *rule of thumb is* depends on the number of repeats:

* If you know how many times ( no matter how many ) you want to repeat your code **USE A FOOR LOOP**
* If the number of times you want to repeat your code is not fixed and is based on a condition **USE A WHILE LOOP**

A couple of examples will clarify this distinction. 

Do you remember the school times when someone was punished to write 500 times: "I will pay attention to the teacher lessons"? In this case, you already know beforehand how many times the student has to write the sentence (500). Therefore, you should use a **FOR LOOP**

On the other hand, imagine that you're preparing for an exam. How long you should be studying the lesson? You don't know it beforehand, you will be studying until you master the lesson. Then, in this case, you don't know how much time you will need to go over and over the lesson. You have a stoping conditing which is: "mastering the lesson". Therefore you should **USE A WHILE LOOP**.

**This is the general syntax of the FOR loop in Python:**

```python
for <variable> in <iterable>:
    <statement>
    <statement>
    <statement>
```

Pay attention to a couple of things here. 
- First the `:` after the `<iterable>` as this indicates an entry point of a "block" of statements (there can be as many as you need "statement" blocks). This "block" contains the instructions you want to repeat shown as `<statement>`. 
- The second is that the `<statement>` **is not left-aligned**. As you can see, they are a bit shifted to the right, and this is done automatically by the Jupyter notebook or Google collab.

In the **FOR LOOP**, you can replace `<variable>` with a variable you may want to use ( typically any variable you haven't used before in the code, otherwise, you will overwrite the content of the variable ). On the other hand `<iterable>` is typically a sequence of elements like a list. 
    
In a **FOR LOOP**, the value of the `<variable>` will be replaced by each of the elements of the `<iterable>` until all the values stored in the `<iterable>` are used. 
In short, the first time content of `<variable>` will be replaced by the value of the first element in the `<iterable>`. Then Python will execute all the statements inside the "block". Next, the content of the `<variable>` will be replaced by the next value of the `<iterable>` and all the statements below will be executed again. This process will be repeated until the `<variable>` has been replaced by all the values contained in the `<iterable>`. Therefore, the statements under the **FOR LOOP will be repeated as many times as elements contained in the `<iterable>`**. 

Thus, if the `<iterable>` contains five elements, then statements below the **FOR LOOP** will be repeated five times.
If the `<iterable>` has seven elements, then then the statements below the **FOR LOOP** will be repeated seven times and so on. This is why you will use a **FOR LOOP when you know beforehand the number of times that you want to repeat a piece of code.**

In [ ]:
# We are using the range function to execute the block of statements (here only a single print command) 10 times
# Just like the IF ELIF ELSE conditional statements, all the lines of code with the same indentation are executed

for i in range(10):    # Note: here we are using the membership operator "IN" 
    print(i)
    print('hello')
    # dummy line 1  # Lines of code with the same indentation. 
    # dummy line 2
    # .
    #..
    # ...

0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello

**Here, we will see how the value of "i" changes when we use the `range()` function.**  
By default, the values are generated starting with 0 and until one is less than the value mentioned in the range() function.  
In this case, from 0 to 9.

In [ ]:
# "i" is the variable here. It takes on values from the range() function from 0 to 9, iteratively
for i in range(10):  
    print(i)

0
1
2
3
4
5
6
7
8
9

In the following example, we will use **conditional statement** in the **for** loop to print only the even numbers.

In [ ]:
for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

Pay attention to the flow of the code and the indentation. `IF` condition is executed 10 times, but "i" is only printed when the condition is met because it is contained inside the `IF` statement.

When we used the `range` function earlier, we mentioned that the values are generated starting from 0.   
However, the `range` function can also be used in a couple of other ways. Observe the outputs in the following code:

In [ ]:
for i in range(3, 10):  # In this case, the iteration starts on 3 until 9
    print(i)

3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10, 2):  # In this case, the iteration starts on 0 until 9 in steps of 2 
    print(i)

0
2
4
6
8

In this example, we will increment the value of `a` variable by a constant at each iteration.  
Then, we will print the values of `a` at each iteration. In the end, we will print the final value of `a` after `for` loop ends.

In [ ]:
a = 0
constant = 5
for i in range(10):
    a = a + constant
    print("Value of a at step", i, "is", a)
print("This is the final value of a", a)

Value of a at step 0 is 5
Value of a at step 1 is 10
Value of a at step 2 is 15
Value of a at step 3 is 20
Value of a at step 4 is 25
Value of a at step 5 is 30
Value of a at step 6 is 35
Value of a at step 7 is 40
Value of a at step 8 is 45
Value of a at step 9 is 50
This is the final value of a 50

-----------------------------

### 1. Exercise - Simple Iterations

**1.1**  Write a simple for loop to print integers from 10 to 30. Also, write a code to print those numbers in steps of 3.

In [3]:
for i in range(10,30,3):
    print(i)

10
13
16
19
22
25
28

**1.2** Update the previous code to print all the numbers from 10 to 30 that are multiples of 5. (These are: 5,10, 15, ...)

In [4]:
for i in range(10,30):
    if i%5==0:
        print(i)

10
15
20
25

**1.3** Write a code to print this pattern. Modify the print statement in the dummy code provided:

- The pattern    
    ```
    *
    ***
    *****
    ```

<br>

- Dummy Code

    ```python
    for i in range(1, _, _):
        print("*"*i)
    ```

In [7]:
for i in range(1,6,2):
      print("*"*i)

*
***
*****

**1.4** Update the previous code to print the following pattern:

  ```
    *
   ***
  *****
  ```

  ```python
  a = # Fill the starting value
  for i in range(1, _, _):
    a = a - 1
    print(" "*a+"*"*i)
  ```

In [13]:
a=3
for i in range(1,6,2):
    a=a-1
    print(" "*a+"*"*i)

  *
 ***
*****

**1.5** Use the function `input()` to take an integer number from the user and find the factorial of that number using loops. You can use the factorial method provided in the `math` library to check if your result is correct or not. You can use the `math` library to calculate the factorial as follows:

<br>

```python
import math
math.factorial(n) # n is the positive integer for which we want to calculate the factorial 
```

**Note**: Factorial is defined as:

```
5 ! = 5*4*3*2*1  # " ! " is the mathematical notation for factorial
    
n! = n*(n-1)*(n-2)*..........*1
```

In [40]:

x=int(input("enter number: "))
y=1
for x in range(1,x+1):
   y=x*y
print(y)

enter number: 5
120

-----------------------------

### Iterating on Lists

We talked about lists and dictionaries before. You can also iterate the items of a list or a dictionary.   
Find below some examples of its implementation.

Here we have a list with some integer values. We will use the operator `IN` to iterate on the values. 

The `item` variable takes the values from the list starting with index 0 until the length of the list:

In [ ]:
x = [12, 43, 4, 1, 6, 343, 10]
for item in x:
    print(item)

12
43
4
1
6
343
10

We can iterate on the elements of the list, irrespective of the data type. An example is shown below:

In [ ]:
fruits = ['apple', 'orange', 'banana', 'grapes', 'pineapple']
for fruit in fruits:
    print(fruit)

apple
orange
banana
grapes
pineapple

Here is a simple example to add the elements of a list. We do it in several steps. 

1. We define the list.
2. We define the variable `total` to store the sum of all the list elements.
3. As we know how many elements we want to add, we use a **FOR LOOP** to go through all the elements in the list.
4. We update the value of the `total` variable.

In [ ]:
num_list = [34, 12, 93, 783, 330, 896, 1, 55]
total = 0

for i in num_list:
    total += i  # total = total + i
    print("Total at step",i, "is", total)
    
print('\n')  # to add an empty line (this is new line operator, it moves the cursor to the next line)
print("The final total is ", total)

### Add elements to an empty list

In the following example, we will show how to define an empty list and add elements to it using iterations.  

**Problem statement is:** we are given a list with some integer elements. We want to create a new list that will consist of the squares of each element of the list. 

For this purpose, we can use the function `append()` that only works when it's applied to a list. It can add any kind of element to the end of a given list.

In [ ]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = [] # Defining an empty list 

for item in data:
    new_list.append(item**2)  # at each iteration, square for the value is calculated and appended to the list 
print(new_list)

-----------------------------

### 2. Exercise : Iterations on Lists

Given the list:

    ```python
    x = [12, 43, 4, 1, 6, 343, 10, 34, 12, 93, 783, 330, 896, 1, 55]
    ```

<br />

**2.1** Write a code to find only those numbers that are divisible by 3.

In [58]:
x = [12, 43, 4, 1, 6, 343, 10, 34, 12, 93, 783, 330, 896, 1, 55]
new_list=[]
for item in x:
    if item % 3 == 0:
    
        print(item)

12
6
12
93
783
330

**2.2** Write a code to find only those numbers in the list that end with the digit 3. Store the results in an empty list called "output_list". Note: for this one you have to convert the integers to strings and use indexing to find the last digit. A simple example of how to use indexes with strings is shown below:

```python
string_value = 'IRONHACK'
string_value[0]
```

In [60]:
x = [12, 43, 4, 1, 6, 343, 10, 34, 12, 93, 783, 330, 896, 1, 55]
output_list=[]
for item in x:
    item=str(item)
    last_digit=item[-1]
    if last_digit=="3":
        output_list.append(item)
        print (item)

43
343
93
783

**2.3** Find the minimum in the list `x`. Research to see if you can use any function directly.

In [61]:
x = [12, 43, 4, 1, 6, 343, 10, 34, 12, 93, 783, 330, 896, 1, 55]
min(x)

1

**2.4** Find the maximum in the list `x`. Research to see if you can use any function directly.

In [62]:
x = [12, 43, 4, 1, 6, 343, 10, 34, 12, 93, 783, 330, 896, 1, 55]
max(x)

896

-----------------------------

### Iterating on Dictionaries

Similarly, we can also iterate on the elements of a dictionary. A simple example is shown below:

In [2]:
x = {'key1': 100 , 'key2': 200 , 'key3': 300}

We can apply the function `.keys()` over a dictionary to obtain an `<iterable>` that we can use in a for loop to obtain all the keys.

In [5]:
for key in x.keys():
    print(key)

key1
key2
key3

Similarly, when we apply the function `.values()` over a dictionary to obtain an `<iterable>` that we can use in a for loop.

In [4]:
for value in x.values():
    print(value)

100
200
300

Finally, we can also apply the function `.items()` over a dictionary to obtain an `<iterable>` of all the `key, value` pairs in a dictionary.

In [6]:
for key, value in x.items():
    print("For ", key, " the value is: ", value)

For  key1  the value is:  100
For  key2  the value is:  200
For  key3  the value is:  300

It's important to pay attention to the order. When we use `.items()` the first value is the `key`, and the second is the `value` associated with the `key`. No matter the names we use in the variables of the loop. Another example is provided below.

In [7]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}

for name, age in ages.items():
    print(name, "is", age, "years old.")

Brian is 23 years old.
Amy is 22 years old.
Darlene is 47 years old.
Ralph is 32 years old.
Jordan is 28 years old.
Stephanie is 35 years old.

**Note:** Dictionaries allow you to group several variables. They are especially suited to count different things as you can set each counter as a **key** and the count as the corresponding **value**.

#### 3. Exercise: Iterations on Dictionaries

Given this dictionary:

In [8]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}

**3.1** Iterate on the items of this dictionary to print only those keys where the frequency of the word is less than 3.

In [65]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}
for word,freq in word_freq.items():
    if freq<3:
        print(word)

conversation
we're
plate
sour
jukebox
taxi
fast
bag
man
going
don't
one
mind
backseat
friends
know

**3.2** Iterate on the items of this dictionary to print the word with the highest frequency.

In [69]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}
frequencies=list(word_freq.values())
max_freq=max(frequencies)
for word,freq in word_freq.items():
    if freq==max_freq:
        print(word)

love

## While Loops

While loop executes a block of statement **until a condition is true**. As soon as the condition is false, the flow of the code jumps out of the while loop and starts executing the code after the while loop. 

**BEWARE!!!** You need to make sure that the condition of the **WHILE LOOP** will change sooner or later as otherwsie the Python code will never end.

The general structure of a while loop is:

```
while <condition>:
    <statement>
    <statement>
    <statement>
```

where:
- `<condition>` is any Python logical condition and 
- `<statement>` is any Python instruction you want to repeat while `<condition>` is true.

Similar to the **FOR LOOP** a couple of things are worthy of paying attention here. 

First the `:` after the `<condition>` as this indicates an entry point of a "block" of statements (it can contain as many as you want). This "block" contains the instructions you want to repeat shown as `<statement>`. 

The second is that the `<statement>` **are not left-aligned**. As you can see they are a bit shifted to the right and this is done automatically by the jupyter notebook or Google colab.

One example will illustrate how the `while` loop works.

In [ ]:
i = 0 
while i<10:
    print("Hello")
    print(i)
    i = i+1 # we update the value of i depending on how many times or how we want the while loop to work

In the provided example, we initialize a variable `i` that we use later in the `<condition>` (i < 10, in the example) of the `WHILE` loop to control how many times we want to repeat the statements inside the loop.

**Beware** that we need to change the value of the variable `i` inside the while loop as otherwise the loop will never end as `i<10` will always be true.

We can modify the value of the variable `i` to any other value as shown in the next example.

In [ ]:
i = 0
while i<10:
    print("Hello")
    print(i)
    i = i + 3 # we update the value of i depending on how many times or how we want the while loop to work

Another final example is to iterate over the characters of a string.

In [ ]:
word = "IRONHACK"
i = 0
while i < len(word): # Here, the `len()` function returns how many elements (letters or blanck spaces) contains the string.
    print(word[i])
    i=i+1

I
R
O
N
H
A
C
K

We can also do the same using a for a loop.

In [ ]:
word = "IRONHACK"
for i in range(len(word)):
    print(word[i])

**Please go through a guided example to understand how the while loop can be used to solve a problem**

**Also please pay attention to this problem, we will ask you a similar question in the assessment as well!!**

### Snail and well

A snail is at the base of a wall. Every `morning`, the snail climbs 30cm, but at `night` it falls asleep and slides down 20cm because the wall is wet. 

How many days will it take the snail to climb the wall?

Consider that the snail starts climbing during the morning.

**The things to keep in mind when solving this problem**:

1. Do you know beforehand, how many days it will take the snail to climb the well? *Hint*: Use the corresponding loop. 
2. You will need to keep track of the snail's progress. *Hint*: Therefore, you need a variable to store the total distance climbed.
3. You will need to update the progress variable with the daily climb and the nightly fall.
4. You need to compare the snail distance against the well's height.
5. Finally, you need to keep track of the (number of) days until the snail climbed the wall.

In [10]:
# Assign problem data to variables with representative names
# well height, daily advance, night retreat, accumulated distance
well_height = 125
daily_climb = 30
nightly_fall = 20
total_distance = 0

# Assign 0 to the variable that represents the solution
total_days = 0

# Assume we begin during the day, we use this boolean to determine if it is morning or night
is_morning = True

# As we don't know beforehand how many days it will take the snail to climb the wall, we're going to use
# a `while` loop. Then we set our condition as shown below.
while (total_distance < well_height):
    if (is_morning):
        total_distance += daily_climb
        is_morning = False # The morning came to an end.
        total_days += 1 # This line could be moved to the "else" section depending on how you count days. See comment below.
    else:
        total_distance -= nightly_fall
        is_morning = True # The night came to an end. It starts a new day.
        #total_days += 1 This could be added here instead of right after the "if" if you only count full days.
           
# Print the result with print('Days =', days)
print('Days =', total_days)

Days = 11